[Unit]
Description=NGINX metrics exporter for Prometheus
After=network-online.target

[Service]
User={{ nginxlog_exporter_system_user }}
Group={{ nginxlog_exporter_system_group }}
ExecStart=/usr/local/bin/nginxlog_exporter -config-file {{ nginxlog_exporter_conf_dir }}/config.yml
Restart=always
ProtectSystem=full
CapabilityBoundingSet=

[Install]
WantedBy=multi-user.target
